# If this is installed anywhere else, asdf creates a shim for it
# that overrides what bun installed. Setting the path here
# ensures that the bun version is used.
LEFTHOOK_BIN="node_modules/lefthook/bin/index.js"
